@import 'fonts';

html {
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

* {
  font-family: 'Merriweather', Helvetica, Arial, sans-serif;
}
